.UUI-Breadcrumb {
  &-Root {
    display: flex;
    flex-direction: row;
  }

  &-Item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-Item, &-Separator {
    margin-right: 0.5rem;
  }

  &-Item, &-ItemLink, &-Separator {
    color: #b3b3b3;
  }

  &-Item.STATE_active, &-Item.STATE_active &-ItemLink {
    color: #333333;
  }

  &-Item.STATE_interactive:hover, &-Item.STATE_interactive &-ItemLink:hover {
    color: #2f65d1;
    cursor: pointer;
  }

  &-ItemLink {
    text-decoration: none;
  }
}