@import '../variables.scss';

.UUI-Breadcrumb-Root {
  .UUI-Breadcrumb-List {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    .UUI-Breadcrumb-Item {
      &:focus {
        border-color: $hoverBackgroundColor;
        background-color: $hoverBackgroundColor;
      }
    }

    .UUI-Breadcrumb-Item, .UUI-Breadcrumb-Separator {
      padding: 0.25rem;
      display: inline;
      list-style-type: none;
    }

    .UUI-Breadcrumb-Item, .UUI-Breadcrumb-ItemLink, .UUI-Breadcrumb-Separator {
      color: #b3b3b3;
    }

    .UUI-Breadcrumb-Item.STATE_active, .UUI-Breadcrumb-Item.STATE_active .UUI-Breadcrumb-ItemLink {
      color: #333333;
    }

    .UUI-Breadcrumb-Item.STATE_interactive:hover, .UUI-Breadcrumb-Item.STATE_interactive .UUI-Breadcrumb-ItemLink:hover {
      color: #2f65d1;
      cursor: pointer;
    }

    .UUI-Breadcrumb-ItemLink {
      text-decoration: none;
    }
  }
}