@import '../mixins.scss';

.UUI-Button-Root {
  @include border;
  @include shadow;
  @include radius;
  background-color: #fff;
  padding: .5rem 1rem;
  cursor: pointer;

  &.disabled {
    color: gray;
    border-color: gray;
    cursor: not-allowed;
  }
}