@import '../variables.scss';
@import '../mixins.scss';

.UUI-Button-Root {
  @include radius;
  border: none;
  background-color: $primaryColor;
  color: $textLightColor;
  padding: .5rem 1rem;
  cursor: pointer;

  &:hover {
    background-color: $primaryDarken1;
  }
  &:active {
    background-color: $primaryDarken2;
  }
  &:focus {
    @include focusShadow;
  }

  &.disabled {
    background-color: $disabledBackgroundColor;
    color: $disabledTextColor;
    border-color: gray;
    cursor: not-allowed;
  }

  transition:
    background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}