@import '../variables.scss';
@import '../mixins.scss';

.UUI-Cascader-Root {
  display: inline-block;
  color: $textDarkColor;

  @include border;
  @include radius;
  @include hoverBorder;
  @include focusWithinShadow;
  @include focusWithinBorder;

  .UUI-Cascader-Input.UUI-TextField-Root {
    &:hover {
      border: none;
    }
    &:focus-within {
      border: none;
      box-shadow: none;
    }
  }
  .UUI-Cascader-Input {
    padding: 1px;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
  }
  .UUI-Cascader-Input, input {
    cursor: pointer;
  }

  .UUI-Cascader-Dropdown {
    width: 100%;
  }

  .UUI-Cascader-DropdownIcon {
    color: #605e5c;
    margin-right: 0.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
  }

  &.STATE_active {
    .UUI-Cascader-DropdownIcon {
      transform: rotate(180deg);
    }
  }

  &.STATE_searchable {
    .UUI-Cascader-Input, input {
      cursor: text;
    }
  }

  .UUI-Cascader-LoadingSpinner {
    color: gray;
    padding-right: 0.5rem;
  }
}

.UUI-Cascader-LevelList {
  display: flex;
  flex-direction: row;
  background-color: white;

  .UUI-Cascader-ItemList {
    height: 240px;
    min-width: 100px;
    overflow: auto;

    &:not(:last-child) {
      border-right: 1px solid $borderColor;
    }

    .UUI-Cascader-Item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: $hoverBackgroundColor;
      }

      &.STATE_selected {
        background-color: $activeBackgroundColor;
      }

      &.STATE_disabled {
        .UUI-Cascader-ItemLabel {
          color: $disabledTextColor;
        }

        &:hover {
          background-color: inherit;
        }
        cursor: not-allowed;
      }

      .UUI-Cascader-ItemLabel {
        color: $textDarkColor;
      }
      .UUI-Cascader-ItemIcon {
        display: flex;
        justify-content: center;
        align-items: center;

        .UUI-Icon-Root.STATE_hidden svg {
          opacity: 0;
        }

        svg {
          color: lighten($textDarkColor, 30%);
        }
      }
    }
  }
}

.UUI-Cascader-SearchList {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 240px;
  min-width: 200px;
  overflow: auto;

  .UUI-Cascader-SearchItem {
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: $hoverBackgroundColor;
    }

    &.STATE_disabled {
      color: $disabledTextColor;
      &:hover {
        background-color: inherit;
      }
      cursor: not-allowed;
    }

    .UUI-Cascader-SearchMatched {
      color: $primaryColor;
    }
  }
}
