@import '../variables.scss';
@import '../mixins.scss';

.UUI-Cascader-Root {
  display: inline-block;
  color: $textDarkColor;

  @include border;
  @include radius;
  @include hoverBorder;
  @include focusWithinShadow;
  @include focusWithinBorder;

  .UUI-Cascader-Input.UUI-TextField-Root {
    &:hover {
      border: none;
    }
    &:focus-within {
      border: none;
      box-shadow: none;
    }
  }
  .UUI-Cascader-Input {
    cursor: pointer;
    padding: 0.25rem;
    border: none;
    box-shadow: none;
    box-sizing: border-box;

    .UUI-TextField-Input {
      cursor: pointer;
    }
  }

  .UUI-Cascader-DropdownIcon {
    color: #605e5c;
    margin-right: 0.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
  }

  &.Active {
    .UUI-Cascader-DropdownIcon {
      transform: rotate(180deg);
    }
  }
}

.UUI-Cascader-LevelList {
  display: flex;
  flex-direction: row;
  background-color: white;

  .UUI-Cascader-ItemList {
    height: 240px;
    min-width: 100px;
    overflow: auto;

    &:not(:last-child) {
      border-right: 1px solid $borderColor;
    }

    .UUI-Cascader-Item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: $hoverBackgroundColor;
      }

      &.Selected {
        background-color: $activeBackgroundColor;
      }

      &.Disabled {
        .UUI-Cascader-ItemLabel {
          color: $disabledTextColor;
        }

        &:hover {
          background-color: inherit;
        }
        cursor: not-allowed;
      }

      .UUI-Cascader-ItemLabel {
        color: $textDarkColor;
      }
      .UUI-Cascader-ItemIcon {
        display: flex;
        justify-content: center;
        align-items: center;

        .UUI-Icon-Root.Hidden svg {
          opacity: 0;
        }

        svg {
          color: lighten($textDarkColor, 30%);
        }
      }
    }
  }
}
