
.UUI-Cascader-Root {
  display: inline-block;
  color: $textDarkColor;
  height: 32px;
  box-sizing: border-box;
  cursor: pointer;

  @include border;
  @include radius;
  @include hoverBorder;
  @include focusWithinShadow;
  @include focusWithinBorder;

  .UUI-Cascader-Activator {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  .UUI-Cascader-Result, .UUI-Cascader-Placeholder {
    min-width: 160px;
    padding: .25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .UUI-Cascader-Placeholder {
    color: gray;
  }

  .UUI-Cascader-Dropdown {
    display: block;
    width: 100%;
    height: 100%;
  }

  .UUI-Cascader-DropdownIcon {
    color: #605e5c;
    margin-right: 0.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
  }

  &[data-uui-active="true"] {
    .UUI-Cascader-DropdownIcon {
      transform: rotate(180deg);
    }
  }

  &[data-uui-searchable="true"] {
    .UUI-Cascader-Input, input {
      cursor: text;
    }
  }

  .UUI-Cascader-LoadingSpinner {
    color: gray;
    padding-right: 0.5rem;
  }
}

.UUI-Cascader-ActionBox {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  border-radius: 0.25rem;

  .UUI-Cascader-SearchInput {
    border-color: transparent;
    border-bottom: 1px solid $borderColor;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;

    .UUI-Cascader-SearchIcon {
      margin-left: 0.25rem;
      color: gray;
    }
  }

  .UUI-Cascader-SearchList {
    height: 240px;
  }

  .UUI-Cascader-LevelList {
    display: flex;
    flex-direction: row;
    background-color: #fbfbfb;

    .UUI-Cascader-OptionList {
      height: 240px;
      min-width: 100px;
      overflow: auto;
      background-color: white;

      border-right: 1px solid $borderColor;

      &:last-child {
        margin-right: -1px;
      }

      &:focus-within {
        border-right: 1px solid $primaryColor;
        z-index: 9999999;
        box-shadow: none;
      }

      .UUI-Cascader-Option {
        display: flex;
        justify-content: space-between;

        .UUI-Cascader-OptionIcon {
          display: flex;
          justify-content: center;
          align-items: center;

          &[data-uui-hidden="true"] svg {
            opacity: 0;
          }

          svg {
            color: lighten($textDarkColor, 30%);
          }
        }
      }
    }
  }
}
