@import '../variables.scss';
@import '../mixins.scss';

.UUI-Checkbox-Root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &:focus-within .UUI-Checkbox-Indicator {
    box-shadow: $primaryLighten3 0 0 0 3px;
  }

  .UUI-Checkbox-Input {
    width: 0;
    height: 0;
    opacity: 0;
  }

  .UUI-Checkbox-Indicator {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    border-collapse: separate;
  }

  .UUI-Checkbox-Label {
    color: $textDarkColor;
    padding-left: 0.5rem;
  }

  input[type=checkbox]:checked+.UUI-Checkbox-Indicator {
    background-color: $primaryColor;
    border-color: $primaryColor;
  }

  input[type=checkbox]:checked+.UUI-Checkbox-Indicator:after {
    position: absolute;
    display: table;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    width: 5.71428571px;
    height: 9.14285714px;
    top: 45%;
    left: 21%;
    -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
    transform: rotate(45deg) scale(1) translate(-50%, -50%);
    opacity: 1;
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    content: ' ';
  }

  &.STATE_disabled {
    cursor: not-allowed;

    .UUI-Checkbox-Indicator {
      border-color: $disabledBorderColor;
      background-color: $disabledBackgroundColor;

      &.STATE_checked::after {
        border-color: darken($disabledBackgroundColor, 30%);
      }
    }
    .UUI-Checkbox-Label {
      color: $disabledTextColor;
    }
  }
}