@import '../mixins.scss';

.UUI-Dialog-Backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;

  &.opened {
    z-index: 9000;
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.UUI-Dialog-Container {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1rem;
  visibility: hidden;

  &.opened {
    visibility: visible;
  }
}