@import '../variables.scss';
@import '../mixins.scss';

.UUI-Dialog-Backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;

  .UUI-Dialog-Container {
    background-color: white;
    border-radius: $borderRadius;
    padding: 1rem;
  }

  &.opened {
    pointer-events: inherit;
    opacity: 1;
  }

  transition: opacity 0.1s ease-in-out;
}