
.UUI-Drawer-Portal {
  .UUI-Drawer-Backdrop {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;

    &[data-uui-placement="left"] {
      flex-direction: row;
      justify-content: flex-start;
    }
    &[data-uui-placement="right"] {
      flex-direction: row;
      justify-content: flex-end;
    }
    &[data-uui-placement="top"] {
      flex-direction: column;
      justify-content: flex-start;
    }
    &[data-uui-placement="bottom"] {
      flex-direction: column;
      justify-content: flex-end;
    }
    &[data-uui-placement="left"] .UUI-Drawer-Content,
    &[data-uui-placement="right"] .UUI-Drawer-Content {
      width: 400px;
    }
    &[data-uui-placement="top"] .UUI-Drawer-Content,
    &[data-uui-placement="bottom"] .UUI-Drawer-Content {
      width: 100%;
      min-height: 200px;
    }

    &[data-uui-placement="left"] .UUI-Drawer-Content {
      transform: translateX(-100%);
    }
    &[data-uui-placement="right"] .UUI-Drawer-Content {
      transform: translateX(100%);
    }
    &[data-uui-placement="top"] .UUI-Drawer-Content {
      transform: translateY(-100%);
    }
    &[data-uui-placement="bottom"] .UUI-Drawer-Content {
      transform: translateY(100%);
    }
    &[data-uui-active="true"][data-uui-placement="left"] .UUI-Drawer-Content,
    &[data-uui-active="true"][data-uui-placement="right"] .UUI-Drawer-Content {
      transform: translateX(0);
    }
    &[data-uui-active="true"][data-uui-placement="top"] .UUI-Drawer-Content,
    &[data-uui-active="true"][data-uui-placement="bottom"] .UUI-Drawer-Content {
      transform: translateY(0);
    }

    &[data-uui-active="true"] {
      pointer-events: auto;
      opacity: 1;
    }

    transition: opacity 0.2s ease-in-out;

    .UUI-Drawer-Content {
      padding: 0.5rem;
      background-color: white;
      box-shadow: 0 0 8px gray;

      transition: transform 0.2s ease-in-out;
    }
  }
}
