@import '../mixins.scss';

.UUI-Drawer-Portal {
  .UUI-Drawer-Backdrop {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;

    &.PLACEMENT_left {
      flex-direction: row;
      justify-content: flex-start;
    }
    &.PLACEMENT_right {
      flex-direction: row;
      justify-content: flex-end;
    }
    &.PLACEMENT_top {
      flex-direction: column;
      justify-content: flex-start;
    }
    &.PLACEMENT_bottom {
      flex-direction: column;
      justify-content: flex-end;
    }
    &.PLACEMENT_left .UUI-Drawer-Content,
    &.PLACEMENT_right .UUI-Drawer-Content {
      width: 400px;
    }
    &.PLACEMENT_top .UUI-Drawer-Content,
    &.PLACEMENT_bottom .UUI-Drawer-Content {
      width: 100%;
      min-height: 200px;
    }

    &.PLACEMENT_left .UUI-Drawer-Content {
      transform: translateX(-100%);
    }
    &.PLACEMENT_right .UUI-Drawer-Content {
      transform: translateX(100%);
    }
    &.PLACEMENT_top .UUI-Drawer-Content {
      transform: translateY(-100%);
    }
    &.PLACEMENT_bottom .UUI-Drawer-Content {
      transform: translateY(100%);
    }
    &.STATE_active.PLACEMENT_left .UUI-Drawer-Content,
    &.STATE_active.PLACEMENT_right .UUI-Drawer-Content {
      transform: translateX(0);
    }
    &.STATE_active.PLACEMENT_top .UUI-Drawer-Content,
    &.STATE_active.PLACEMENT_bottom .UUI-Drawer-Content {
      transform: translateY(0);
    }

    &.STATE_active {
      pointer-events: auto;
      opacity: 1;
    }

    transition: opacity 0.2s ease-in-out;

    .UUI-Drawer-Content {
      padding: 0.5rem;
      background-color: white;
      box-shadow: 0 0 8px gray;

      transition: transform 0.2s ease-in-out;
    }
  }
}
