
.UUI-HTMLSelect-Root {
  display: flex;
  overflow: hidden;
  height: 32px;
  width: 100%;
  padding-right: 0.25rem;
  box-sizing: border-box;
  background-color: white;

  cursor: pointer;
  color: $textDarkColor;

  @include border;
  @include radius;
  @include focusWithinShadow;
  @include focusWithinBorder;

  &:not(.UUI-HTMLSelect-Select:disabled) {
    @include hoverBorder;
  }

  .UUI-HTMLSelect-Select {
    padding-left: 0.25rem;
    width: 100%;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .UUI-HTMLSelect-LoadingSpinner {
    margin-left: 0.5rem;
    color: gray;
  }
}