@import '../mixins.scss';

.UUI-HTMLSelect-Root {
  padding: 0.5rem;
  @include border;
  @include shadow;
  @include radius;

  .UUI-HTMLSelect-Select {
    background-color: white;
    width: 100%;
  }
}