@import '../mixins.scss';

.UUI-HTMLSelect-Root {
  padding: 0.5rem;

  cursor: pointer;
  color: $textDarkColor;

  @include border;
  @include radius;
  @include hoverBorder;
  @include focusWithinShadow;
  @include focusWithinBorder;

  .UUI-HTMLSelect-Select {
    background-color: white;
    width: 100%;
    cursor: pointer;
  }
}