@import '../mixins.scss';

.UUI-Icon-Root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  .UUI-Icon-Container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}