.UUI-Layout {
  &-Root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &.STATE_hasSider {
      flex-direction: row;
    }
    &.STATE_hasSider > .UUI-LayoutContent-Root {
      margin-left: 200px;
    }

    &.STATE_hasTopBar > .UUI-LayoutContent-Root {
      margin-top: 60px;
    }

    &.STATE_hasBottomBar > .UUI-LayoutContent-Root {
      margin-bottom: 60px;
    }
  }
}

.UUI-LayoutSider {
  &-Root {
    width: 200px;
  }

  &-Root {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.UUI-LayoutTopBar {
  &-Root {
    height: 60px;
    width: 100%;
  }

  &-Root {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}

.UUI-LayoutContent {
  &-Root {
    width: 100%;
    overflow: auto;
  }
}

.UUI-LayoutBottomBar {
  &-Root {
    height: 60px;
    width: 100%;
  }

  &-Root {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


