.UUI-Layout {
  &-Root {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &.STATE_hasNav {
      flex-direction: row;
    }
    &.STATE_hasNav > .UUI-LayoutMain-Root {
      margin-left: 200px;
    }

    &.STATE_hasHeader > .UUI-LayoutMain-Root {
      margin-top: 60px;
    }

    &.STATE_hasFooter > .UUI-LayoutMain-Root {
      margin-bottom: 60px;
    }
  }
}

.UUI-LayoutNav {
  &-Root {
    width: 200px;
  }

  &-Root {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
}

.UUI-LayoutHeader {
  &-Root {
    height: 60px;
    width: 100%;
  }

  &-Root {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}

.UUI-LayoutMain {
  &-Root {
    width: 100%;
    overflow: auto;
  }
}

.UUI-LayoutFooter {
  &-Root {
    height: 60px;
    width: 100%;
  }

  &-Root {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


