.UUI-Menu-Root {
  display: inline-block;
  min-width: 8rem;

  .UUI-MenuItem-Root {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    min-height: 1.75rem;
    padding: 0 1rem;
  }

  .UUI-MenuButton-Root {
    min-height: 1.75rem;
    width: 100%;

    .UUI-Button-Root {
      width: 100%;
      border: none;
      border-radius: inherit;
      box-shadow: none;
      color: #333333;
      justify-content: start;

      &:hover, &:focus {
        color: #333333;
      }

      &:hover {
        background-color: #f5f5f5;
      }

      &:disabled {
        background-color: white;
        color: #999999;

        cursor: not-allowed;
      }
    }
  }

  .UUI-MenuSeparator-Root {
    background-color: #e2e6e9;
    height: 1px;
    margin: 5px auto;
  }
}