@import '../mixins.scss';

.UUI-NumberField-Root {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  overflow: hidden;
  color: $textDarkColor;

  @include border;
  @include rounded;
  @include hoverBorder;
  @include focusWithinShadow;
  @include focusWithinBorder;

  .UUI-NumberField-Input {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    flex: 1;
  }
}