@import '../variables.scss';
@import '../mixins.scss';

.UUI-PageList-Root {
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  .UUI-Button-Root {
    background-color: white;
    color: $textDarkColor;
    @include border;
  }
  .UUI-Button-Root:not([disabled]) {
    @include hoverBorder;
  }

  .UUI-PageList-PrevButton,
  .UUI-PageList-PageButton,
  .UUI-PageList-NextButton {
    padding: 0.5rem 0.25rem;
    min-width: 3em;
  }

  .UUI-PageList-PrevButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.25rem;
  }
  .UUI-PageList-PageButton {
    margin-left: 0.25rem;
    margin-right: 0.25rem;

    &.Active {
      border: 1px solid #4299e1;
      color: #4299e1;
    }
  }
  .UUI-PageList-NextButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
  }
}