@import '../mixins.scss';

.UUI-Popover-Root {
  display: inline-block;
}

.UUI-Popover-Content {
  @include border;
  @include shadow;
  @include radius;
  visibility: hidden;
  background-color: white;
}