@import '../mixins.scss';

.UUI-Popover-Root {
  display: inline-block;
}

.UUI-Popover-Content {
  @include border;
  @include shadow;
  @include radius;

  z-index: 9999;
  background-color: white;

  opacity: 0;
  transition: opacity 0s ease-in-out;
  pointer-events: none;
  &.Active {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
    pointer-events: auto;
  }
}