@import '../mixins.scss';

.UUI-Popover-Root {
  display: inline-block;
}

.UUI-Popover-Content {
  @include border;
  @include shadow;
  @include radius;

  opacity: 0;
  background-color: white;
  pointer-events: none;

  transition: opacity 0.1s ease-in-out;
}