@import '../variables.scss';
@import '../mixins.scss';

.UUI-Radio-Root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &:focus-within .UUI-Radio-Indicator {
    box-shadow: $primaryLighten3 0 0 0 3px;
  }

  .UUI-Radio-Input {
    width: 0;
    height: 0;
  }

  .UUI-Radio-Indicator {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid $borderColor;
    border-radius: 2px;
    border-collapse: separate;
    border-radius: 50%;
  }

  .UUI-Radio-Label {
    padding-left: 0.5rem;
  }

  &.STATE_disabled {
    cursor: not-allowed;
  }

  .UUI-Radio-Input:checked {

    & + .UUI-Radio-Indicator {
      background-color: white;
      border-color: $primaryColor;
    }

    & + .UUI-Radio-Indicator:after {
      position: absolute;
      content: '';
      width: 9px;
      height: 9px;
      background-color: $primaryColor;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 50%;
    }
  }
}

