
.UUI-RightClickZone-ContextMenu {
  display: none;

  &.active {
    display: inherit;
  }

  padding: 0.25rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}