@import "../variables.scss";
@import "../mixins.scss";

.UUI-SegmentControl-Root {
  display: inline-block;
  padding: 4px;
  border-radius: $borderRadius * 2;
  background-color: $backgroundColor;
  min-width: 200px;
  height: 32px;
  box-sizing: border-box;

  .UUI-SegmentControl-Container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .UUI-SegmentControl-Thumb {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    margin-left: 0;
    background-color: white;
    border-radius: $borderRadius;
    z-index: 1;
    box-sizing: border-box;

    @include shadow;

    transition: margin 0.2s ease-in-out;
  }

  .UUI-SegmentControl-Option {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
    margin: 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    height: 100%;

    color: #666666;

    &.STATE_active {
      color: $textDarkColor;
    }

    transition: color 0.2s ease-in-out;
  }
}