@import '../variables.scss';
@import '../mixins.scss';

.UUI-Select-Root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: $textDarkColor;
  min-height: 32px;
  box-sizing: border-box;
  cursor: pointer;

  @include border;
  @include radius;

  &:not(.STATE_disabled) {
    @include hoverBorder;
    @include focusWithinShadow;
    @include focusWithinBorder;
  }
  &.STATE_disabled {
    cursor: not-allowed;
  }


  .UUI-Select-Activator {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    box-sizing: border-box;

    .UUI-Select-TagInputContainer {
      flex: 1;
      margin-top: 0.1rem;
      margin-bottom: 0.1rem;
    }

    .UUI-Select-Tag {
      height: 20px;
      margin-right: 0.25rem;
      margin-top: 0.1rem;
      margin-bottom: 0.1rem;
      padding: 0 0.25rem;
      background-color: #efefef;
      border: 1px solid #e8e8e8;
      border-radius: 2px;

      .UUI-Tag-Content {
        color: #333333;
        font-size: 14px;
        line-height: 14px;
      }
    }
  }

  .UUI-Select-Result, .UUI-Select-Placeholder {
    min-width: 160px;
    flex: 1;
    margin-left: 0.25rem;
    text-align: left;
    padding-left: 0.25rem;
  }

  .UUI-Select-Placeholder {
    color: gray;
  }

  .UUI-Select-Dropdown {
    width: 100%;
    height: 100%;
  }

  .UUI-Select-DropdownIcon {
    color: #605e5c;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
  }

  &.STATE_active {
    .UUI-Select-DropdownIcon {
      transform: rotate(180deg);
    }
  }

  .UUI-Select-LoadingSpinner {
    color: gray;
    padding-right: 0.5rem;
  }
}


.UUI-Select-ActionBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.25rem;

  .UUI-Select-SearchInput {
    box-shadow: none;

    &:not(:focus-within) {
      border-color: transparent;
      border-bottom: 1px solid $borderColor;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .UUI-Select-SearchIcon {
      margin-left: 0.25rem;
      color: gray;
    }
  }

  .UUI-Select-SearchList {
    height: 240px;
  }

  .UUI-Select-OptionList {
    height: 260px;
    min-width: 260px;
    background-color: white;

    border-right: 1px solid $borderColor;

    &:last-child {
      margin-right: -1px;
    }

    &:focus-within {
      border-right: 1px solid $primaryColor;
      z-index: 9999999;
      box-shadow: none;
    }

    .UUI-Select-Section {
      color: rgba(0,0,0,.45);
      font-size: 14px;
    }

    .UUI-Select-Option {
      display: flex;
      justify-content: space-between;

      .UUI-Select-OptionIcon {
        display: flex;
        justify-content: center;
        align-items: center;

        &.STATE_hidden svg {
          opacity: 0;
        }

        svg {
          color: lighten($textDarkColor, 30%);
        }
      }
    }
  }
}

