@import '../variables.scss';
@import '../mixins.scss';

.UUI-Select-Root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: $textDarkColor;

  @include border;
  @include radius;
  @include hoverBorder;
  @include focusWithinShadow;
  @include focusWithinBorder;

  .UUI-Select-Dropdown {
    width: 100%;
  }

  .UUI-Select-Selector {
    padding: 1px;

    .UUI-Select-Input {
      border: none;
      box-shadow: none;
    }
    .UUI-Select-Input, input {
      cursor: pointer;
    }
  }

  .UUI-Select-DropdownIcon {
    color: #605e5c;
    margin-right: 0.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
  }

  &.STATE_active {
    .UUI-Select-DropdownIcon {
      transform: rotate(180deg);
    }
  }

  &.STATE_searchable {
    .UUI-Select-Input, input {
      cursor: text;
    }
  }

  .UUI-Select-LoadingSpinner {
    color: gray;
    padding-right: 0.5rem;
  }
}

.UUI-Select-SectionList {
  min-width: 200px;
  max-height: 260px;
  overflow: auto;

  .UUI-Select-SectionHeader {
    font-weight: bold;
    margin: 0.5rem;
    border-bottom: 1px solid lightgray;
  }

  .UUI-Select-Option {
    cursor: pointer;
    padding: 0.5rem;

    &:hover {
      background-color: #dcf0ff;
    }

    &.STATE_disabled {
      color: $disabledTextColor;
      cursor: not-allowed;

      &:hover {
        background-color: inherit;
      }
    }

    .UUI-Select-SearchMatched {
      color: $primaryColor;
    }
  }
}