@import '../variables.scss';
@import '../mixins.scss';

.UUI-Select-Root {
  display: inline-block;
  color: $textDarkColor;

  @include border;
  @include radius;
  @include hoverBorder;
  @include focusWithinShadow;
  @include focusWithinBorder;

  .UUI-Select-Selector {
    cursor: pointer;
    padding: 0.25rem;

    .UUI-Select-Input {
      border: none;
      box-shadow: none;
      pointer-events: none;
      cursor: pointer;

      &.editable {
        pointer-events: inherit;
      }
    }
  }

  .UUI-Select-DropdownIcon {
    color: #605e5c;
    margin-right: 0.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
  }

  &.Active {
    .UUI-Select-DropdownIcon {
      transform: rotate(180deg);
    }
  }
}

.UUI-Select-SectionList {
  min-width: 200px;
  max-height: 260px;
  overflow: auto;

  .UUI-Select-SectionHeader {
    font-weight: bold;
    margin: 0.5rem;
    border-bottom: 1px solid lightgray;
  }

  .UUI-Select-Option {
    cursor: pointer;
    padding: 0.5rem;

    &:hover {
      background-color: #dcf0ff;
    }
  }
}