@import '../mixins.scss';

.UUI-Skeleton-Root {
  margin: 8px;

  @keyframes SkeletonAnimation {
    0% {
      opacity: 0.45;
    }
    100% {
      opacity: 0.9;
    }
  }


  .UUI-SkeletonParagraph-Line, .UUI-SkeletonTitle-Root, .UUI-SkeletonPicture-Root {
    margin-bottom: 16px;
    width: 100%;
    background: #dfe3e8;
    animation: SkeletonAnimation 1s linear infinite alternate;
  }

  .UUI-SkeletonParagraph-Line {
    height: 16px;

    &:last-child:not(:first-child):not(:nth-child(2)) {
      width: 80%;
      margin-bottom: none;
    }
  }

  .UUI-SkeletonPicture-Root {
    margin-right: 16px;
    width: 360px;
    height: 270px;
  }

  .UUI-SkeletonTitle-Root {
    width: 44%;
    height: 26px;
  }
}

