@import '../mixins.scss';

.UUI-Stepper-Root {
  display: inline-flex;
  flex-direction: row;

  overflow: hidden;
  @include border;
  @include radius;
  @include hoverBorder;
  @include focusWithinShadow;
  @include focusWithinBorder;

  .UUI-Stepper-Input,
  .UUI-Stepper-MinusButton,
  .UUI-Stepper-PlusButton {
    display: inline-block;
    width: initial;
  }

  .UUI-Stepper-Input .UUI-NumberField-Input:disabled,
  .UUI-Stepper-MinusButton:disabled,
  .UUI-Stepper-PlusButton:disabled {
    cursor: not-allowed;
  }

  .UUI-Stepper-Input {
    width: 6rem;

    .UUI-NumberField-Input {
      text-align: center;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .UUI-Stepper-MinusButton,
  .UUI-Stepper-PlusButton {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 0.5rem;
    min-width: 2.5rem;
    &:hover {
      color: $primaryColor;
    }
    &:active {
      color: darken($primaryColor, 10%);
    }
  }

  // style override
  .UUI-Stepper-Input {
    &:focus-within {
      box-shadow: none;
      border: 1px solid $borderColor;
    }
    &:hover {
      border: 1px solid $borderColor;
    }
  }
  .UUI-Stepper-MinusButton,
  .UUI-Stepper-PlusButton {
    border: 1px solid $borderColor;
    background-color: #f5f7fa;
    color: #606266;
    &:focus-within {
      box-shadow: none;
    }
  }
}

.UUI-Stepper-Root.ControlSeparate {
  .UUI-Stepper-Input {
    border: none;
    border-radius: 0;
    .UUI-NumberField-Input {
      border-radius: 0;
    }
  }

  .UUI-Stepper-MinusButton,
  .UUI-Stepper-PlusButton {
    padding: 0.5rem;
    min-width: 2.5rem;
  }
  .UUI-Stepper-MinusButton {
    border-left: none;
    border-top: none;
    border-bottom: none;
  }
  .UUI-Stepper-PlusButton {
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
  .UUI-Stepper-MinusButton,
  .UUI-Stepper-PlusButton {
    border-radius: 0;
  }
}

.UUI-Stepper-Root.ControlRight {
  .UUI-Stepper-Input {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-radius: 0;
  }

  .RightControlsContainer {
    display: inline-flex;
    flex-direction: column;
  }

  .UUI-Stepper-MinusButton,
  .UUI-Stepper-PlusButton {
    border-radius: 0;
    display: block;
    padding: 0;
    height: 21px;
    border-left: none;
    line-height: 0;
  }
  .UUI-Stepper-MinusButton{
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-top: -0.5px;
  }

  .UUI-Stepper-PlusButton {
    border: none;
  }
}