@import '../variables.scss';
@import '../mixins.scss';

.UUI-Switch-Root {
  display: inline-block;

  .UUI-Switch-Button {
    width: 40px;
    height: 22px;
    border-radius: 99999px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    border-color: $primaryColor;
    background-color: $borderColor;
  }

  .UUI-Switch-Thumb {
    height: 16px;
    width: 16px;
    border-radius: 99999px;
    background-color: white;
    margin-left: calc(50% - 16px);
    transition: margin 0.2s ease-in-out;
  }

  .UUI-Switch-Loading {
    visibility: hidden;
  }

  &.checked {
    .UUI-Switch-Button {
      background-color: $primaryColor;
    }

    .UUI-Switch-Thumb {
      margin-left: calc(50%);
      background-color: white;
    }
  }

  &.disabled {
    opacity: .6;

    .UUI-Switch-Button {
      cursor: not-allowed;
      &:focus-within {
        box-shadow: none;
      }
    }
  }

  &.loading {
    &.checked {
      .UUI-Switch-Loading {
        color: black;
      }
    }
    .UUI-Switch-Loading {
      visibility: visible;
      color: white;
      font-size: 10px;
      animation: spin 2s linear infinite;
    }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  }
}