
.UUI-Switch-Root {
  display: inline-block;

  .UUI-Switch-Button {
    width: 52px;
    height: 26px;
    border-radius: 99999px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    background-color: $borderColor;

    .UUI-Button-Content {
      display: inline-block;
    }

    &:hover {
      border: none;
    }
  }

  .UUI-Switch-Thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 99999px;
    background-color: white;
    margin-left: calc(50% - 22px);
    transition: margin 0.2s ease-in-out;
    border: none;
  }

  .UUI-Switch-LoadingSpinner {
    color: gray;
  }

  &[data-uui-checked="true"] {
    .UUI-Switch-Button {
      background-color: $primaryColor;
    }

    .UUI-Switch-Thumb {
      margin-left: calc(50% + 2px);
      background-color: white;
    }

    .UUI-Switch-LoadingSpinner {
      color: $primaryColor;
    }
  }

  &[data-uui-disabled="true"] {
    opacity: .6;

    .UUI-Switch-Button {
      cursor: not-allowed;
      &:focus-within {
        box-shadow: none;
      }
      &:hover, &:active, &:focus {
        border: none;
      }
    }
  }
}