
.UUI-Table-Root {

  .UUI-Table-Table {
    width: 100%;
    border: 1px solid $borderColor;
    border-collapse: collapse;
  }

  .UUI-Table-Row {
    &:hover {
      background-color: #fafafa;
    }
  }

  .UUI-Table-HeadCell,
  .UUI-Table-DataCell {
    border: 1px solid $borderColor;
    padding: 0.75rem;
  }

  .UUI-Table-HeadCell[data-uui-column="selection"],
  .UUI-Table-DataCell[data-uui-column="selection"] {
    width: 1px;

    .UUI-Checkbox-Root {
      display: flex;
    }
  }

  .UUI-Table-HeadCell {
    color: rgba(0,0,0,.85);
    text-align: left;
    background-color: #fafafa;
  }
  .UUI-Table-DataCell {
    color: rgba(0,0,0,.65);
  }

  .UUI-Table-EmptyView {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &[data-uui-empty="true"] {
    .UUI-Table-Row:hover, .UUI-Table-DataCell:hover {
      background-color: white;
    }
  }
}
