@import "../variables.scss";

.UUI-Tabs-Root {
  display: flex;

  .UUI-Tabs-TabBox {
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  .UUI-Tabs-Content {
    margin-top: 1rem;
    display: none;
    &[data-uui-active="true"] {
      display: inherit;
    }
  }
}

.UUI-Tabs-Root {
  .UUI-Tab-Root {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    min-width: 3rem;
    text-align: center;

    &:hover {
      color: $primaryColor;
    }
    &[data-uui-active="true"] {
      color: $primaryColor;
    }
    &:focus {
      background-color: #f5f7fa;
    }
  }

  &[data-uui-position="top"] {
    flex-direction: column;

    .UUI-Tabs-TabBox {
      border-bottom: 1px solid $borderColor;
    }
    .UUI-Tab-Root {
      border-top: 1px solid $borderColor;
      border-left: 1px solid $borderColor;
      margin-bottom: -1px;

      &[data-uui-active="true"] {
        border-bottom: 1px solid white;
      }

      &:first-child {
        border-top-left-radius: 0.25rem;
      }
      &:last-child {
        border-right: 1px solid $borderColor;
        border-top-right-radius: 0.25rem;
      }
    }

    .UUI-Tabs-ContentBox {
      margin-top: 1rem;
    }
  }

  &[data-uui-position="bottom"] {
    flex-direction: column-reverse;

    .UUI-Tabs-TabBox {
      border-top: 1px solid $borderColor;
    }
    .UUI-Tab-Root {
      border-bottom: 1px solid $borderColor;
      border-left: 1px solid $borderColor;
      margin-top: -1px;

      &[data-uui-active="true"] {
        border-top: 1px solid white;
      }

      &:first-child {
        border-bottom-left-radius: 0.25rem;
      }
      &:last-child {
        border-right: 1px solid $borderColor;
        border-bottom-right-radius: 0.25rem;
      }
    }

    .UUI-Tabs-ContentBox {
      margin-bottom: 1rem;
    }
  }

  &[data-uui-position="left"] {
    flex-direction: row;

    .UUI-Tabs-TabBox {
      flex-direction: column;
      border-right: 1px solid $borderColor;
    }
    .UUI-Tab-Root {
      border-top: 1px solid $borderColor;
      border-left: 1px solid $borderColor;
      margin-right: -1px;

      &[data-uui-active="true"] {
        border-right: 1px solid white;
      }

      &:first-child {
        border-top-left-radius: 0.25rem;
      }
      &:last-child {
        border-bottom: 1px solid $borderColor;
        border-bottom-left-radius: 0.25rem;
      }
    }

    .UUI-Tabs-ContentBox {
      margin-left: 1rem;
    }
  }

  &[data-uui-position="right"] {
    flex-direction: row-reverse;

    .UUI-Tabs-TabBox {
      flex-direction: column;
      border-left: 1px solid $borderColor;
    }
    .UUI-Tab-Root {
      border-top: 1px solid $borderColor;
      border-right: 1px solid $borderColor;
      margin-left: -1px;

      &[data-uui-active="true"] {
        border-left: 1px solid white;
      }

      &:first-child {
        border-top-right-radius: 0.25rem;
      }
      &:last-child {
        border-bottom: 1px solid $borderColor;
        border-bottom-right-radius: 0.25rem;
      }
    }

    .UUI-Tabs-ContentBox {
      margin-right: 1rem;
    }
  }
}
