@import '../mixins.scss';

.UUI-TextArea-Root {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  overflow: hidden;
  color: $textDarkColor;

  @include border;
  @include radius;
  @include hoverBorder;
  @include focusWithinShadow;
  @include focusWithinBorder;

  .UUI-TextArea-Textarea {
    width: 100%;
    padding: 0.5rem;
    flex: 1;
    align-self: stretch;
    min-height: 120px;
  }

  &.STATE_hasCornerIndicator {
    .UUI-TextArea-Textarea {
      padding-bottom: 2rem;
    }
  }
  .UUI-TextArea-Info {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    display: flex;
    align-items: center;
  }

  .UUI-TextArea-LengthIndicator {
    padding-left: 0.5rem;
    color: gray;
  }

  .UUI-TextArea-LoadingSpinner {
    color: gray;
  }
}