@import '../variables.scss';
@import '../mixins.scss';

.UUI-TextField-Root {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  overflow: hidden;
  color: $textDarkColor;

  @include border;
  @include radius;
  @include hoverBorder;
  @include focusWithinShadow;
  @include focusWithinBorder;

  .UUI-TextField-Input {
    width: 100%;
    padding: .5rem;
    flex: 1;
  }

  .UUI-TextField-LoadingSpinner, .UUI-TextField-LengthIndicator {
    padding: 0.5rem;
    color: gray;
  }

  .UUI-TextField-TogglePasswordVisibleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: none;
    background-color: white;
    border: none;
    color: $textDarkColor;
  }

  transition: border, box-shadow 0.2s ease-in-out;
}