.UUI-TextField-Root {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border: 1px solid black;

  .UUI-TextField-Input {
    width: 100%;
    padding: 0.5rem;
    flex: 1;
    outline: none;
  }

  .UUI-TextField-LengthIndicator {
    padding: 0.5rem;
    color: gray;
  }

  .UUI-TextField-TogglePasswordVisibleButton {
    padding: 0.5rem;
    border: none;
  }
}