.UUI-NumberField-Root {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border: 1px solid black;

  .UUI-NumberField-Input {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    flex: 1;
    outline: none;
  }
}