.UUI-TextArea-Root {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 120px;
  width: 100%;
  border: 1px solid black;

  .UUI-TextArea-Textarea {
    width: 100%;
    padding: 0.5rem;
    flex: 1;
    outline: none;
    align-self: stretch;
  }

  .UUI-TextArea-LengthIndicator {
    position: absolute;
    right: 0.5rem;
    bottom: 0.25rem;
    color: gray;
  }
}