@import "./variables.scss";

@mixin radius {
  border-radius: $borderRadius;
}

@mixin border {
  border: 1px solid $borderColor;
}
@mixin hoverBorder {
  &:hover {
    border: 1px solid lighten($primaryColor, 10%);
  }
}
@mixin activeBorder {
  &:active {
    border: 1px solid $primaryColor;
  }
}
@mixin focusWithinBorder {
  &:focus-within {
    border: 1px solid $primaryColor;
  }
}

@mixin shadow {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),
              0 1px 2px 0 rgba(0,0,0,.06);
}
@mixin activeShadow {
  box-shadow: rgba($primaryColor, 0.16) 0 0 0 3px;
}
@mixin focusWithinShadow {
  &:focus-within {
    @include activeShadow;
  }
  transition: box-shadow 0.2s ease-in-out;
}

@mixin borderless {
  border: none;

  &:hover, &:focus, &:focus-within {
    border: none;
    box-shadow: none;
  }
}