$primaryColor: #409EFF !default;
$textLightColor: white !default;
$textDarkColor: #333333 !default;
$textDarkColor2: #666666 !default;
$borderColor: #d9d9d9 !default;
$backgroundColor: #d9d9d9 !default;

$hoverBackgroundColor: #f5f5f5 !default;
$activeBackgroundColor: lighten($primaryColor, 25%) !default;
$focusBackgroundColor: #f6f6f6 !default;

$disabledBorderColor: #dadada !default;
$disabledBackgroundColor: #f6f6f6 !default;
$disabledTextColor: rgba(0, 0, 0, 0.4) !default;

$borderRadius: 0.25rem !default;


$primaryDarken1: darken($primaryColor, 10%) !default;
$primaryDarken2: darken($primaryColor, 20%) !default;
$primaryDarken3: darken($primaryColor, 30%) !default;
$primaryDarken4: darken($primaryColor, 40%) !default;

$primaryLighten1: lighten($primaryColor, 10%) !default;
$primaryLighten2: lighten($primaryColor, 20%) !default;
$primaryLighten3: lighten($primaryColor, 30%) !default;
$primaryLighten4: lighten($primaryColor, 40%) !default;