.UUI-Select-Root {
  .UUI-Select-Selector {
    cursor: pointer;

    .UUI-Select-Input {
      pointer-events: none;
      cursor: pointer;

      &.editable {
        pointer-events: inherit;
      }
    }
  }
}

.UUI-Select-ItemList {
  min-width: 240px;

  .UUI-Select-Item {
    cursor: pointer;
    padding: 0.5rem;

    &:hover {
      background-color: #dcf0ff;
    }
  }
}