.UUI-Select-Root {
  .UUI-Select-Selector {
    cursor: pointer;

    .UUI-Select-Input {
      pointer-events: none;
      cursor: pointer;

      &.editable {
        pointer-events: inherit;
      }
    }
  }
}

.UUI-Select-ItemList {
  min-width: 200px;
  max-height: 260px;
  overflow: auto;

  .UUI-Select-ItemSectionTitle {
    font-weight: bold;
    margin: 0.5rem;
    border-bottom: 1px solid lightgray;
  }

  .UUI-Select-Item {
    cursor: pointer;
    padding: 0.5rem;

    &:hover {
      background-color: #dcf0ff;
    }
  }
}