/**
 * Global Colors CSS Variables
 */


/* Color Presets */
:root {
  --primary-color: #1890ff;
  --link-color: #1890ff;
  --success-color: #52c41a;
  --warning-color: #faad14;
  --error-color: #f5222d;
  --overlay-color: rgba(0,0,0,0.3);
}