/**
 * Global Components Custom CSS Variables
 */

@import './colors';
@import './motion';

.uui-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  transition: background-color $duration--slow-02 uui--motion(exit, expressive),
    opacity $duration--moderate-02 uui--motion(exit, expressive), z-index $duration--slow-02 uui--motion(exit, expressive),
    visibility $duration--moderate-02 uui--motion(exit, expressive);

  &.is-visible {
    z-index: 9000;
    visibility: visible;
    opacity: 1;
    background-color: var(--overlay-color);
    transition: background-color $duration--slow-02 uui--motion(entrance, expressive),
      opacity $duration--moderate-02 uui--motion(entrance, expressive), z-index $duration--slow-02 uui--motion(entrance, expressive),
      visibility $duration--moderate-02 uui--motion(entrance, expressive);
  }
}