.uui-dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;

  &.is-visible {
    z-index: 9000;
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.uui-dialog-container {
  visibility: hidden;

  &.is-visible {
    visibility: visible;
  }
}