.UUI-Stepper-Root.CustomizeDemo {
  border: 1px solid #7b9eff;

  .UUI-Stepper-MinusButton, .UUI-Stepper-PlusButton {
    background-color: #e5f3ff;
    color: #7b9eff;
  }
  .UUI-Stepper-MinusButton, .UUI-Stepper-PlusButton, .UUI-Stepper-Input {
    border: 1px solid #7b9eff;
  }
}
