$ThumbRadius: 8px;
$ThumbBorderWidth: 2px;

.UUI-Slider-Root {
  width: 400px;
  height: 20px;

  .UUI-Slider-Container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    margin-left: $ThumbRadius;
    margin-right: $ThumbRadius;

    .UUI-Slider-ActiveLine, .UUI-Slider-InactiveLine {
      height: 4px;
      background-color: rgb(200, 198, 196);
    }

    .UUI-Slider-ActiveLine {
      background-color: black;
    }

    .UUI-Slider-Thumb {
      position: absolute;
      width: $ThumbRadius * 2;
      height: $ThumbRadius * 2;
      background-color: white;
      border-radius: 999999px;
      border: 2px solid black;
      cursor: pointer;
      transform: translateX(-50%);
    }
  }

  &.disabled {
    .UUI-Slider-Thumb {
      cursor: not-allowed;
      border: 2px solid #7d7d7d;
    }
    .UUI-Slider-ActiveLine {
      background-color: #7d7d7d;
    }
  }
}